{% extends "layout.html" %}

{% block content %}

    <div class="container">
        <img src="{{ data.photo.url }}" width="10%" height="10%"/>

        <form action="{% url 'edit' data.id %}" method="post">
            {% csrf_token %}
            <input type="submit" name="button_gray" value="gray">
            <input type="submit" name="button_mosaic" value="mosaic">
        </form>

        {% if data.gray != "Not Set" %}
            <img src="{{ data.gray.url }}" width="10%" height="10%"/>
        {% endif %}

         {% if data.mosaic != "Not Set" %}
            <img src="{{ data.mosaic.url }}" width="10%" height="10%"/>
        {% endif %}

    </div>

{% endblock %}