<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
    <img src="{{ data.photo.url }}" width="10%" height="10%"/>

    <form action="{% url 'edit' data.id %}" method="post">
        {% csrf_token %}
        <input type="submit" name="button_gray" value="gray">
        <input type="submit" name="button_mosaic" value="mosaic">
    </form>

    <img src="{{ data.gray.url }}" width="10%" height="10%"/>
    <img src="{{ data.mosaic.url }}" width="10%" height="10%"/>

    <a href="{% url 'index' %}">index</a>

</body>
</html>