{% extends "layout.html" %}

{% block content %}

    <div class="container">
        <hr>
            グレー変換
        <hr>
        <div class="row justify-content-center">

            <div class="col-2 align-self-center">
                <form action="{% url 'edit' data.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-dark" name="button_gray">グレー</button>
                </form>
            </div>
            <div class="col-4">
                <img src="{{ data.photo.url }}" width="300px" class="rounded"/>
            </div>

            <div class="col-1 align-self-center">
                <div class="arrow01"></div>
            </div>

            <div class="col-4">
                {% if data.gray == "Not Set" %}

                {% else %}
                    <img src="{{ data.gray.url }}" width="300px" class="rounded"/>
                {% endif %}
            </div>

            <div class="col-1 align-self-center">
                <a class="btn btn-primary" href='{{ data.gray.url }}' download>ダウンロード</a>
            </div>
        </div>
        <hr>
            顔モザイク処理
        <hr>
        <div class="row justify-content-center">

            <div class="col-2 align-self-center">
                <form action="{% url 'edit' data.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-info" name="button_mosaic">モザイク</button>
                </form>
            </div>

            <div class="col-4">
                <img src="{{ data.photo.url }}" width="300px" class="rounded"/>
            </div>

            <div class="col-1 align-self-center">
                <div class="arrow01"></div>
            </div>

            <div class="col-4">
                {% if data.gray == "Not Set" %}

                {% else %}
                    <img src="{{ data.mosaic.url }}" width="300px" class="rounded"/>
                {% endif %}
            </div>

            <div class="col-1 align-self-center">
                <a class="btn btn-primary" href='{{ data.mosaic.url }}' download>ダウンロード</a>
            </div>

        </div>
    </div>

{% endblock %}