{% extends 'layout.html'%}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Image Changer</h1>
            <p class="lead">これは画像変換ツールです。</p>
        </div>

        <div class="container">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-secondary">Upload</button>
            </form>
        </div>
    </div>

{% endblock %}