{% extends 'layout.html'%}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h2 class="display-4">MozaMoza</h2>
            <p class="lead">顔にモザイクをかけるアプリです。</p>
        </div>
        <p>インスタやツイッターに画像をアップするときに、他人の顔が映ってると困るときありますよね.</p>
        <p>↓↓から画像をアップロードして顔にモザイクをかけてみましょう。</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-secondary">Upload</button>
        </form>
    </div>

{% endblock %}