<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

    <table>
    {% for item in data %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.photo }}</td>
            <td>{{ item.uploaded_at }}</td>
            <td>{{ item.gray }}</td>
            <td><a href="{% url 'edit' item.id %}">Edit</a></td>
            <td><a href="{% url 'delete' item.id %}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>

    {% for item in data %}
        <img src="{{ item.photo.url }}" width="10%" height="10%"/>
    {% endfor %}
    <br>
    <a href="{% url 'upload' %}">upload</a>
</body>
</html>